.card {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin: 3%;
    text-align: center;
}

.inputing {
    display: flex;
    margin: 20px auto;
    margin-top: 8%;
    margin-bottom: 2%;
    align-items: center;
    justify-content: center;
}

.inputtask {
    width: 60%;
    margin: 10%;
}

.root {
    max-width: 505px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.media {
    height: auto;
    text-align: center;
    padding-top: 5.25%;
    padding-left: 3%;
}

.media img {
    max-width: 70%;
    max-height: 70%;
}

.expandOpen {
    transform: 'rotate(180deg)';
}

.avatar {
    background-color: red;
}